
<%= link_to "Back", cocktails_path %>

<h1>Cocktails#show</h1>
<h1> <%= @cocktail.name %> </h1>
<p>Find me in app/views/cocktails/show.html.erb</p>

<hr>

<h1>Add a new Ingredient and Dosis</h1>
<%= render "doses/form" %>

<!-- au Submit ajouter Liste des doses.description et ingredients.name -->
<!-- pe ou er -->
<div class="container">

  <table style="width:50%">
    <tr>
      <th>Ingredient</th>
      <th>dose</th>
    </tr>

    <tr>
    <% @cocktail.doses.each do |dose| %>
      <td><%= dose.ingredient.name %></td>
      <td><%= dose.description %></td>
      <% end %>
    </tr>
  </table>

</div>
